#navbar {
  position: sticky;
  top: 0px;
}
#footer {
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  position: sticky;
  bottom: 0px;
  background-color: var(--light);
}

#content {
  height: 2000px;
}