<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    .error { color: red }
  </style>
</head>
<body>
  <h1>Login</h1>
  <div class="error"> {{ error }} </div>
  <form action="/login" method="POST">
  <input type="text" name="username" id="username" placeholder="Username">
  <br>
  <input type="password" name="password" id="password" placeholder="Password">
  <br>
  <button type="submit">Login</button>
  </form>
</body>
</html>