<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Profile</h1>

  <table cellspacing="10" cellpadding="10" border="1">
    <tr>
      <th>User ID</th>
      <td>{{user.id}}</td>
    </tr>
    <tr>
      <th>UserName</th>
      <td>{{user.username}}</td>
    </tr>
    <tr>
      <th>Email</th>
      <td>{{user.email}}</td>
    </tr>
    <tr>
      <th>Avatar</th>
      <td><img src="{{user.avatar}}"></td>
    </tr>
  </table>
  <a href="/logout">Logout</a>
</body>
</html>