<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h1>Signup</h1>
  <form action="/signup" method="POST" enctype="multipart/form-data">
    <input type="text" name="username" id="username" placeholder="Choose Username">
    <br>
    <input type="email" name="email" id="email" placeholder="Email ID">
    <br>
    <input type="password" name="password" id="password" placeholder="Enter Password">
    <br>
    <label for="avatar">Upload Profile Photo</label>
    <br>
    <input type="file" name="avatar" id="avatar" placeholder="Profile Photo">
    <br>
    <button type="submit">Submit</button>
  </form>
</body>

</html>